html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 60px; /* уменьшил header до 50px */
  height: 100vh;
}

.Layout header {
  grid-row: 1;
  grid-column: 1;
}

.Layout main {
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
}

.Layout footer {
  grid-row: 3;
  grid-column: 1;
}

.Layout > * {
  border: 1px dashed lightblue; /* можно убрать после проверки */
}
