
    input{
        margin: 0 10px 0 10px;
    }

.parent {
    display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto;
    gap: 8px;
}
    
.div1 {
        display: flex;
    justify-content: center;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    align-items: center;
}

.div2 {
        display: flex;
    justify-content: center;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    
}
.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    margin: 10px;
}
body {
    font-size: 14px; 
}