.FurnitureList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;           /* расстояние между карточками */
  justify-content: center;
  padding: 20px;
  max-width: 1100px;   /* чтобы максимум было 4 карточки в ряд */
  margin: 0 auto;      /* выравнивание по центру */
  box-sizing: border-box;
}
