@font-face{
    font-family: koko;
    src: url("PlaywriteHU-VariableFont_wght.ttf");
}
div{
    display: block;
    width: 500px; 
    font-size: xx-large;
    font-family: koko;
  border-radius: 20px;
    border: 1px black solid;
     margin: auto;
text-align: center;
color: white;
  background: linear-gradient(to bottom right, blue, pink, red);
box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
